<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css" href="\static\styles.css"/>

        <title>Dominant colors</title>

        <script>
            // Copy current color
            function getTextColor(button) {
                let text = button.innerText;
                
                // We will use a temporary input element and store data
                let textToCopy = document.createElement("input");
                textToCopy.type = "text";
                textToCopy.value = text;
                document.body.appendChild(textToCopy);
                
                // Here we select the text inside the input element and then copy to clipboard
                textToCopy.select();
                textToCopy.setSelectionRange(0, 99999); // For mobile devices
                document.execCommand("copy");
                
                document.body.removeChild(textToCopy); // Must be deleted
            }
        </script>

    </head>
    <body>
        <div class="header1">
            <h1>
                <a href="/" class="header1-link">
                    Dominant colors
                </a>
            </h1>
        </div>

        <div class="bar-container">
            {% for color in colors %}
                <div class="bar-item" style="background-color: {{ color }};">
                    <button class="bar-button-item" onclick="getTextColor(this)">{{color}}</button>
                </div>
            {% endfor %}
        </div>
        <div class="credits">
            <div>
                Project done by EduHGomez
                <a href="https://github.com/EduardoHGomez/website-dominant-colors">Click here for public repository</a>
            </div>
        </div>

    </body>
</html>
