<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css" href="\static\styles.css"/>

        <title>Dominant colors</title>
    </head>

    <body>
        <div class="header1">
            <h1>
                <a href="/" class="header1-link">
                    Dominant color
                </a>
            </h1>
        </div>

        <form action="/" method=post enctype=multipart/form-data>
            <div class="body2">
                <div class="container">
                    <h3>Upload your file</h3>
                    <div class="drag-area">
                        <div class="icon">
                            <i class="fas fa-images"></i>
                        </div>
                        <span class="header2"><span class="button">browse</span></span>
                        <span class="support">Supports: JPEG, JPG</span>
                    </div>
                    <input type=file name=file id ="opener" hidden>
                </div>
                
                <div class="form-container">
                    <div class="input-form">
                        <select autocomplete="off" name="amount_of_colors" placeholder="Amount of colors" type="number">
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div> 
                    <div>
                        <input type=submit class="button-form" value=Upload>
                    </div>
                </div>
            </div>
        </form>

        <script src="/static/script.js"></script>
    </body>
</html>
